# ─────────────────────────────────────────────
# Archivo .env  —  NEXERGY
# Copia este archivo, renómbralo a .env y
# rellena tus credenciales reales de MySQL.
# NUNCA subas el .env a GitHub.
# ─────────────────────────────────────────────

SECRET_KEY=cambia-esto-por-una-clave-secreta-larga-y-aleatoria
DEBUG=True

DB_NAME=nexergy_db
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_HOST=localhost
DB_PORT=3306

    